{{ define "main" }}
<main>
  <dl class="attributes">
    {{ with .Params.status }}
      <dt>Status</dt><dd>{{ i18n . }}</dd>
    {{ end }}
    {{ if .Params.start_date }}
      <dt>{{ i18n "duration" }}</dt><dd>{{.Params.start_date}} -- {{.Params.end_date}}</dd>
    {{ end }}
    {{ with .Params.donors }}
      <dt>{{ i18n "donors" }}</dt>  
      {{ range . }}
        <dd>{{ . }}</dd>
      {{ end }}
    {{ end }}
  </dl>
  <section>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </section>
</main>
{{ end }}