{{ define "main" }}
<main>
  <dl class="attributes">
    <dt>📅 {{ i18n "date" }}</dt><dd>{{ default ( i18n "tba" ) (.Params.date | time.Format ":date_full") }}</dd>
    <dt>🕔 {{ i18n "time" }}</dt><dd>{{ default ( i18n "tba" ) (.Params.time) }}</dd>
    <dt>📍 {{ i18n "location" }}</dt>
      {{ with .Params.location }}
        {{ range . }}
          <dd>
            {{ . }}
          </dd>
        {{ end }}
      {{ else }}
      <dd>{{ i18n "tba" }}</dd>
      {{ end }}
    {{ with .Params.registration }}
    <dt>📝 {{ i18n "registration" }}</dt><dd><a href="{{ . }}">{{ i18n "signup" }}</a></dd>
    {{ end }}
  </dl>
  <section>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </section>
</main>
{{ end }}